@import url('https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans|Montserrat|Nova+Flat|Nunito|Open+Sans+Condensed:300');
@font-face {
  font-family: Pasejro;
    src: url("fonts/Pasajero.eot"); /* IE9 Compat Modes */
    src: url("fonts/Pasajero.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("fonts/Pasajero.woff") format("woff"), /* Modern Browsers */
        url("fonts/Pasajero.ttf")  format("truetype"), /* Safari, Android, iOS */
        url("fonts/Pasajero.svg#svgFontName") format("svg"); /* Legacy iOS */
}
/*
/*font-family: 'Montserrat', sans-serif;
/*font-family: 'Open Sans Condensed', sans-serif;
/*font-family: 'Nunito', sans-serif;
/*font-family: 'Josefin Sans', sans-serif;
/*font-family: 'Nova Flat', cursive;
/*font-family: 'Comfortaa', cursive;*/

p, a, span {
  font-family: 'Open Sans Condensed', sans-serif;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.modal-backdrop {
  background-color: transparent;
}